<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f9b8ca64-7d3d-463f-bfda-16fc1496e143/resourcegroups/AvaGroup001/providers/Microsoft.Web/sites/WebApp00420231006131458</ResourceId>
    <ResourceGroup>AvaGroup001</ResourceGroup>
    <ApiResourceId>/subscriptions/f9b8ca64-7d3d-463f-bfda-16fc1496e143/resourceGroups/AvaGroup001/providers/Microsoft.ApiManagement/service/WebApp004api/apis/WebApp004</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapp00420231006131458.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>55d52e8c-0c57-4354-9593-0d6b73913a0a</ProjectGuid>
    <MSDeployServiceURL>webapp00420231006131458.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApp00420231006131458</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebApp00420231006131458</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>